* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 2rem;
}
.Container-header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}
@media (max-width: 1020px){
    .Container-header {
        height: 25vh;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
.Box-logo{
    width: 40%;
}
.Text-logo{
    width: 28vw;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-size: 3rem;
    font-weight: bold;
    line-height: 72px;
    cursor: pointer;
    transition: 1.9s;
}
@media (max-width: 1020px){
    .Box-logo{
        width: unset;
    }
    .Text-logo{
        width: unset;
    }
}
.Purple-efect{
    color: rgba(110,101,255,255);
}
.Box-menu{
    width: 30%;
}
.List-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
@media (max-width: 940px){
.List-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}}
.Item-menu{
    font-weight: 200;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.7s;
}
.Item-menu:hover{
    transform: scale(1.090);
}
.Container-main{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}
.Img-main{
    width: 100%;
}
.Box-title-main{
    width: 20vw;
}
@media (max-width: 1020px){
    .Container-main{
        height: 70vh;
        flex-direction: column-reverse;
    }
    .Img-main{
        width: 100%;
    }
    .Box-title-main{
        width: 60vw;
    }
}
.Title-main{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.Container-action{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    max-width: 1440px;
    margin: auto;
}
.Box-title-action{

}
.Title-main{

}
.Box-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 64vh;
}
.Menu-action{
    width: 45%;
    height: 47%;
    display: flex;
    align-items: center;
}
.List-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}
.Item-main{
    width: 85%;
    border: 3px solid #6C63FF;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;
    cursor: pointer;
    transition: 0.8s;
}
.Item-main:hover{
    transform: scale(1.010);
    border: 3px solid #8680f3;
    box-shadow: 0px 4px 4px rgb(100 10 210 / 50%);
    color: #6C63FF;
}
.Text-action{
    width: 50%;
    border: black solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding: 20px;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 36px;
    text-align: justify;
}
@media (max-width: 1020px){
    .Container-action{
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px 0;
        max-width: 1020px;
        margin: auto;
    }
    .Box-action{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        height: 35vh;
    }
    .Menu-action{
        width: 50%;
        height: 70%;
        display: flex;
        align-items: center;
    }
    .Text-action{   
        display:none;
    }
    .Item-main{
        width: unset;
        text-align: center;
        font-size: 1.5rem;
    }
}
.Btn-action{

}
.Btn-submit{
    width: 27vw;
    height: 8vh;
    background-color: #000;
    color: #6C63FF;
    border-radius: 15px;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 54px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    cursor: pointer;
    transition: 0.8s;
}
.Btn-submit:hover{
    transform: scale(1.010);
    box-shadow: 0px 4px 4px rgb(100 10 210 / 50%);
    color: white;
}
@media (max-width: 520px){
    .Box-action {
        width: 100%;
    }
    .Menu-action {
        width: 80%;
    }
    .Btn-submit {
        width: 60vw;
    }
}
footer{
    background-color: rgba(108,99,254,255);
}
.Container-footer{
    height: 33vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}
@media (max-width: 1020px){
    .Container-footer{
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    .Menu-footer {
        width: 15%;
    }
    .List-footer {
        list-style: none;
        text-align: center;
    }
}
.Menu-footer{

}
@media (max-width: 520px){
    .Menu-footer {
        width: 70%;
    }
}
.List-footer{
    list-style: none;
}
.Item-menu-footer{
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    cursor: pointer;
}
.Title-footer{
    font-size: 4rem;
    font-weight: 700;
    line-height: 96px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
@media (max-width: 450px){
    .Box-title-main {
        width: 80vw;
    }
}
@media (max-width: 320px){
    .Container-header {
        height: 25vh;
        justify-content: space-between;
    }
    .Box-logo {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Text-logo {
        width: 65vw;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 54px;
        margin: auto;
    }
    .Box-menu {
        width: 45%;
        height: unset;
        text-align: center;
    }
    .List-menu {
        display: flex;
        flex-direction: column;
        height: 15vh;
    }
    .Item-menu {
        font-weight: 200;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .Container-main {
        height: 45vh;
        padding: 0 10px;
    }
    .box-img-main{
        width: 85%;
    }
    .Title-main {
        font-size: 2.2rem;
        text-align: center;
        font-weight: bold;
    }
    .Container-action {
        height: 55vh;
        padding: unset;
    }
    .Item-main {
        width: unset;
        text-align: left;
        font-size: 1.125rem;
    }
    .Btn-submit {
        width: 70vw;
        height: 7vh;
        font-size: 1.5rem;
    }
    .Title-footer {
        font-size: 3rem;        
    }
    .List-footer {
        height: 18vh;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        list-style: none;
    }
}